h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    text-align: center;
}

#header{
    max-width: 30%;
    position: fixed;
    top:30px;
    left: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .7);
}

#channel{
    max-width: 30%;
    position: fixed;
    bottom:30px;
    right: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .7);
}

a.btn:focus {
    outline: none;
    background-color:rgb(149, 165, 166);
} 

a.btn.clickdown {
    background-color: rgb(189, 195, 199);
  }