h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    text-align: center;
    padding: 5px;
}

.background{
    background: rgba(250, 250, 200, .7);
    position: absolute;
    height: 100%;
    width: 100%;
}

#header{
    max-width: 30%;
    position: fixed;
    top:30px;
    left: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    background: rgba(250, 250, 250, .7);
}

.invisible{
    max-width: 30%;
    position: fixed;
    top:30px;
    left: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .7);
}

#channel{
    max-width: 30%;
    position: fixed;
    bottom:30px;
    right: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    background:rgba(250, 250, 250, .7);
}

a.btn:focus {
    outline: none;
    background-color:rgb(149, 165, 166);
} 

a.btn.clickdown {
    background-color: rgb(189, 195, 199);
  }